ol{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: aqua;
    margin-top: 10px;
    width: 90%;
    border-radius: 25px;
    margin-inline-start: 10px;
    padding: 10px;
}